<div class="add-application">
    <ul class="inline bottom-gutter-20">
        <li>
            <a routerLink="/admin" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>
        </li>
        <li>
            <h3 class="no-padding-margin secondary-font section-title">Add application</h3>                
        </li>
    </ul>
    <form id="formaddapplication" class="form" (ngSubmit)="onSubmit()" #formaddapplication="ngForm">
        <div class="mdl-card mdl-shadow--2dp card-fullwidth">
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" required name="name" id="name" [(ngModel)]="model.Name" #name="ngModel">
                    <label class="mdl-textfield__label" for="name">Name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="description" name="description" [(ngModel)]="model.Description" #description="ngModel">
                    <label class="mdl-textfield__label" for="description">Description</label>
                </div>
            </div>
        </div>
    </form>
    
</div>