<div class="applications">
    <ul class="inline bottom-gutter-20">
        <li>
            <a routerLink="/admin" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>
        </li>
        <li>
            <h3 class="no-padding-margin secondary-font section-title">Applications</h3>                
        </li>
    </ul>
    <div class="mdl-card mdl-shadow--2dp card-fullwidth">
        <div class="mdl-card__supporting-text">
            
        </div>
    </div>
</div>